player-connection-mode=Listen
player-connection-guid=316679397
player-connection-debug=0
player-connection-project-name=Wave
player-connection-ip=192.168.0.107
player-connection-ip=192.168.246.1
player-connection-ip=192.168.126.1
player-connection-ip=172.25.160.1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
